# Data
data/raw/*
!data/raw/.gitkeep
data/database/*.duckdb
data/database/*.duckdb.wal

# Logs
logs/*
!logs/.gitkeep

# Python
__pycache__/
*.py[cod]
*.egg-info/
.eggs/
dist/
build/

# Jupyter
.ipynb_checkpoints/

# Environment
.env
.venv/
venv/

# OS
.DS_Store
Thumbs.db

# IDE
.idea/
.vscode/
*.swp
